@model ICollection<Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
<p>
    Have your own idea? Click <a style="color: #3a11e5;" asp-action="CreatePost" asp-controller="Users">here</a> to get started.
</p>
<input class="form-control w-25 mb-3" id="myInput" type="text" placeholder="Search..">
<table id="dtBasicExample" class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                Post Title
            </th>
            <th>
                Threads
            </th>
            <th>
                Date Created
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr id="table-row">
                <td>
                    <a style="color: #3a11e5;" asp-action="ViewPost" asp-route-id="@item.PostId">@item.PostTitle</a>
                </td>
                <td>
                    @item.Threads.Count()
                </td>
                <td>
                    @item.DateCreated
                </td>
            </tr>
        }
    </tbody>
</table>
