@model ICollection<Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
<p>
    Have your own idea? Click <a style="color: #01987a;" asp-action="CreatePost" asp-controller="Users">here</a> to get started.
</p>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                Post Title
            </th>
            <th>
                Threads
            </th>
            <th>
                Date Created
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a style="color: #01987a; font-weight: 700;" asp-action="ViewPost" asp-route-id="@item.PostId">@item.PostTitle</a>
                </td>
                <td>
                    @item.Threads.Count()
                </td>
                <td>
                    @item.DateCreated
                </td>
            </tr>
        }
    </tbody>
</table>
