@model ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label class="form-label">Forgot Password?</label>
        <p class="text-danger">@ViewBag.ErrMessage</p>
        <div class="d-flex">
            <span class="text-danger" asp-validation-for="Email"></span>
            <label class="form-label pt-1 px-3">Email: </label>
            <input asp-for="Email" class="form-control" placeholder="Your email here..."/>
        </div>
        <button type="submit" class="btn text-white btn-acsit">Submit</button>
        <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}