@model VerifyUserViewModel

@{
    ViewData["Title"] = "Verify";
}

<h2>Verify your account</h2>
<form asp-action="VerifyUser" method="post">
    <span class="text-danger">@ViewBag.ErrMessage</span>
    <div class="form-group">
        <label class="form-label">Token <p class="text-muted">(Received in email)</p></label>
        <input asp-for="Token" class="form-control" placeholder="Paste here..." />
        <span class="text-danger" asp-validation-for="Token"></span>
    </div>
    <div class="form-group">
        <label class="form-label">Email</label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <button type="submit" class="btn text-white btn-acsit">Verify</button>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Cancel</a>
</form>