@model IEnumerable<Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var post in Model)
{
    <div>
        <h2>@post.PostTitle</h2>
        <p>@post.DateCreated</p>
    </div>
}